			body{
                background-color:#EDEEC9;
                font-family:Georgia, Arial;
            }
            h1{
                text-align:center;
                font-size:100px;
                background-color:#A1CCA5;
                padding:3px;
                color:#111d13;
            }
            .bold{
                font-weight: bold;
            }
            h2{
                text-align:center;
                font-size:50px;
                background-color:#BFD8BD;
            }
            p{
                font-size:30px;
                background-color:#DDE7C7;
            }
            a{
                color:#122e1a;
            }
            a:hover { 
                background-color: yellow;
            }
            a:visited {
            color: #572c63;
            background-color: transparent;
            text-decoration: none;
            }
            img{
                text-align:center;
                padding:2%;
                border-style:solid;
                border-color:#DDE7C7;
                margin-left:27%;
            }
            ul{
                font-size:25px;
            }    
            ol{
                font-size:25px;
            }
            .return{
                font-size:20px;
                font-style:italic;
                color:#265237;
            }