			body{
                background-color:#EDEEC9;
                font-family:Georgia, Arial;
            }
            h1{
                text-align:center;
                font-size:100px;
                background-color:#A1CCA5;
                padding:3px;
                color:#111d13;
            }
            h2{
                text-align:center;
                font-size:65px;
                background-color:#BFD8BD;
            }
            p{
                font-size:30px;
                background-color:#DDE7C7;
            }
            
            
            table{
                border-collapse: collapse;
                border: 1px solid black;
                margin-left:auto;
                margin-right:auto;
                width:800px;
                margin-top:50px;
            }
            
            table,th,td{
                border:1px solid black;
                border-collapse:collapse;
                padding :20px;
                font-size:20px;
                text-align:center;
            }
            table a{
                color:#060342;
                font-style:italic;
             
            }
            a{
                color:#122e1a;
            }
            a:hover { 
                background-color: yellow;
            }
            a:visited {
            color: #572c63;
            background-color: transparent;
            text-decoration: none;
            }
            
            p{
                font-size:20px;
            }
           
            .return{
                font-size:20px;
                font-style:italic;
                color:#265237;
            }
            .validator{
                border-style:dotted;
                border-color:#265237;
                margin:2%;
            }
            .contents{
                font-size:30px;
                text-align:left;
            }